/*-----------------------------------------------------------------------------------*/
/*	Vars
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	MIXINS
/*-----------------------------------------------------------------------------------*/
/* ENTRY CONTENT ------------------------------------------------------------*/
.entry-content {
  /* =WordPress Core
	-------------------------------------------------------------- */

}
.entry-content a {
  color: #cf7831;
}
.entry-content strong {
  font-weight: bold;
}
.entry-content ul {
  list-style: disc;
}
.entry-content ol {
  list-style: decimal;
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .alignnone {
  margin: 5px 20px 20px 0;
}
.entry-content .aligncenter,
.entry-content div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.entry-content .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.entry-content .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.entry-content .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.entry-content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.entry-content a img.alignnone {
  margin: 5px 20px 20px 0;
}
.entry-content a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.entry-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.entry-content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */

  padding: 5px 3px 10px;
  text-align: center;
}
.entry-content .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.entry-content .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.entry-content .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.entry-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.entry-content .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
